body{
  background-color: #EFEFEF;
}

#app{
  width: 1024px;
  margin: 0 auto; padding: 10px;
  background-color: #FFF;
  box-shadow: 0 0 12px #AAA;
}

/* 焦点图 */
#app-header > div.jumbotron{
  margin-bottom: 10px;
  padding: 4rem 2rem;
  font-size: 48px;
  font-weight: bolder;
  color: #AE2B23;
  text-shadow: 1px 1px #FFF;
  background-image: linear-gradient( to bottom, #FAFBE3, #FFF  );
}

/* 菜单栏 */
#app-header > div.row{
  width: 100%; height: 40px;
  background-color: #F27A02;
  color: #FFF;
}
#app-header > div.row > div{
  height: 40px; line-height: 40px;
  position: relative;
  text-align: center;
  cursor: pointer;
}
#app-header > div.row > div:hover{
  background-color: #FF942A;
}
#app-header > div.row > div:not( :first-child )::before{
  content: "";
  width: 1px; height: 32%;
  position: absolute; top: 0; right: auto; bottom: 0; left: 0; margin: auto;
  transform: translateX( -50% );
  background-color: #FFF;
  box-shadow: 0 0 6px #FFF;
}

/* 时间显示 */
#app-header > div.time{
  width: 100%; height: 40px; line-height: 40px;
  padding-left: 6px;
  font-size: 13px;
}